
/.vs
/[Ll]ibrary/
/[Tt]emp/
/[Oo]bj/
/[Bb]uild/
/[Bb]uilds/
/[Ll]ogs/
/[Uu]ser[Ss]ettings/

/[Mm]emoryCaptures/

/[Rr]ecordings/

/[Aa]ssets/Plugins/Editor/JetBrains*

.gradle/

ExportedObj/
.consulo/
*.csproj
*.unityproj
*.sln
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
*.mdb
*.opendb
*.VC.db

sysinfo.txt

*.pidb.meta
*.pdb.meta
*.mdb.meta

*.apk
*.aab
*.unitypackage
*.app

crashlytics-build.properties

/[Aa]ssets/[Aa]ddressable[Aa]ssets[Dd]ata/*/*.bin*

/[Aa]ssets/[Ss]treamingAssets/aa.meta
/[Aa]ssets/[Ss]treamingAssets/aa/*

/Library
/Logs
Library/ArtifactDB
Library/Bee/fullprofile.json
Library/Bee/tundra.digestcache
Library/Bee/tundra.log.json
Library/Bee/TundraBuildState.state
Library/Bee/TundraBuildState.state.map
Library/SceneVisibilityState.asset
Library/Search/transactions.db
Library/StateCache/MainStageHierarchy/c9/c94db0b22c92d4ff5e5692a42f4a105f.json
